@use "../abstracts" as *;

.common-btn {
  display: inline-flex;
  padding: 4px;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  background-color: var(--secondary-color);
  color: var(--white-color);

  @include respond(xxl) {
    font-size: 17px;
  }

  @include respond(xl) {
    font-size: 16px;
  }

  @include respond(lg) {
    font-size: 14px;
  }

  @include respond(md) {
    font-size: 13px;
  }

  &__inner {
    border: 3px dashed color-mix(in srgb, var(--border-color), transparent 40%);
    border-radius: 50px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;

    @include respond(xxl) {
      padding: 9px 22px;
    }

    @include respond(xl) {
      padding: 8px 20px;
    }

    @include respond(lg) {
      padding: 8px 16px;
    }

    @include respond(md) {
      padding: 6px 12px;
    }

    @include respond(sm) {
      padding: 5px 10px;
    }
  }

  &:hover {
    transform: translateY(-2px);
    color: var(--white-color);

    .common-btn__inner {
      background-color: var(--secondary-color);
      border-color: var(--white-color);
    }
  }

  &--primary {
    background-color: var(--primary-color);

    &:hover {
      .common-btn__inner {
        background-color: var(--primary-color);
      }
    }

    &.checkout-section__submit-btn,
    &.contact-section__submit-btn,
    &.cart__summary-checkout-btn,
    &.common-btn--style2 {
      &:hover {
        background-color: var(--secondary-color);

        .common-btn__inner {
          background-color: var(--secondary-color);
        }
      }
    }
  }

  &--secondary {
    background-color: var(--secondary-color);
  }

  &--outline {
    background-color: transparent;
    color: var(--secondary-color);

    .common-btn__inner {
      border: 3px dashed var(--secondary-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      color: var(--white-color);

      .common-btn__inner {
        border-color: var(--white-color);
      }
    }
  }

  &--sm {
    .common-btn__inner {
      padding: 6px 16px;
      font-size: 14px;
    }
  }

  &--lg {
    .common-btn__inner {
      padding: 16px 36px;
      font-size: 20px;
    }
  }

  &--style2 {
    padding: 0;

    .common-btn__inner {
      border: none;
      padding: 20px 30px;

      @include respond(md) {
        padding: 15px 20px;
        font-size: 14px;
      }
    }
  }
}

.service-btn {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;

  @include respond(xxl) {
    gap: 12px;
  }

  @include respond(lg) {
    gap: 10px;
  }

  &__icon {
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    aspect-ratio: 1 / 1;
    background-color: var(--white-color);
    border-radius: 99px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 16px;
    transition: all 0.3s ease;
    flex-shrink: 0;
    line-height: 0;

    @include respond(xxl) {
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      font-size: 14px;
    }

    @include respond(lg) {
      width: 35px;
      height: 35px;
      min-width: 35px;
      min-height: 35px;
      font-size: 12px;
    }
  }

  &__dashed-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 1px dashed var(--white-color);
    border-radius: 99px;
    pointer-events: none;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }

  &:hover {
    .service-btn__icon {
      background-color: var(--heading-color);
      color: var(--white-color);
    }

    .service-btn__dashed-circle {
      border-color: var(--heading-color);
    }

    .service-btn__text {
      color: var(--heading-color);
    }
  }

  &__text {
    font-family: var(--heading-font-family);
    color: var(--white-color);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    transition: all 0.3s ease;

    @include respond(xxl) {
      font-size: 15px;
    }

    @include respond(xl) {
      font-size: 14px;
    }

    @include respond(lg) {
      font-size: 13px;
    }
  }

  &--primary {
    .service-btn__icon {
      background-color: var(--primary-color);
      color: var(--white-color);
    }

    .service-btn__dashed-circle {
      border-color: var(--primary-color);
    }

    .service-btn__text {
      color: var(--primary-color);
    }

    &:hover {
      .service-btn__icon {
        background-color: var(--white-color);
        color: var(--primary-color);
      }

      .service-btn__dashed-circle {
        border-color: var(--white-color);
      }

      .service-btn__text {
        color: var(--white-color);
      }
    }
  }

  &--primary-secondary {
    .service-btn__icon {
      background-color: var(--primary-color);
      color: var(--white-color);
    }

    .service-btn__dashed-circle {
      border-color: var(--primary-color);
    }

    .service-btn__text {
      color: var(--primary-color);
    }

    &:hover {
      .service-btn__icon {
        background-color: var(--secondary-color);
        color: var(--white-color);
      }

      .service-btn__dashed-circle {
        border-color: var(--secondary-color);
      }

      .service-btn__text {
        color: var(--secondary-color);
      }
    }
  }
}

.custom-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 25px 70px;
  border-radius: 5px;
  font-family: var(--heading-font-family);
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;

  @include respond(sm) {
    padding: 15px 30px;
    font-size: 14px;
  }

  &:hover {
    background-color: var(--white-color);
    color: var(--secondary-color);
    transform: translateY(-2px);
  }
}

.ak-video-open {
  @extend .play-btn;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  background-color: color-mix(in srgb, var(--primary-color), transparent 70%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;

  @include respond(md) {
    top: 53%
  }

  &__inner {
    @include circle-icon(90px);
    font-size: 24px;
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1.05);
    background-color: color-mix(in srgb, var(--secondary-color), transparent 70%);

    .play-btn__inner {
      background-color: var(--secondary-color);
      transform: scale(1.05);
    }
  }

  // Size Variants
  &--sm {
    width: 50px;
    height: 50px;
    background-color: color-mix(in srgb, var(--white-color), transparent 75%);

    .play-btn__inner {
      width: 30px;
      height: 30px;
      font-size: 10px;
    }

    &:hover {
      background-color: color-mix(in srgb, var(--secondary-color), transparent 70%);
    }
  }

  &--secondary {
    background-color: color-mix(in srgb, var(--secondary-color), transparent 70%);

    .play-btn__inner {
      background-color: var(--secondary-color);
    }

    &:hover {
      background-color: color-mix(in srgb, var(--primary-color), transparent 70%);

      .play-btn__inner {
        background-color: var(--primary-color);
      }
    }
  }

  &--lg {
    width: 180px;
    height: 180px;

    .play-btn__inner {
      width: 120px;
      height: 120px;
      font-size: 32px;
    }

    @include respond(lg) {
      width: 140px;
      height: 140px;

      .play-btn__inner {
        width: 90px;
        height: 90px;
        font-size: 24px;
      }
    }

    @include respond(md) {
      width: 100px;
      height: 100px;

      .play-btn__inner {
        width: 70px;
        height: 70px;
        font-size: 18px;
      }
    }
  }

  // Responsiveness
  @include respond(lg) {
    width: 100px;
    height: 100px;

    &__inner {
      width: 70px;
      height: 70px;
      font-size: 20px;
    }
  }

  @include respond(md) {
    width: 80px;
    height: 80px;

    &__inner {
      width: 55px;
      height: 55px;
      font-size: 16px;
    }
  }
}