/*--------------------------------------------------------------
1. Basic Color Variable
----------------------------------------------------------------*/

:root {
  --body-font-family: "Poppins", sans-serif;
  --heading-font-family: "Passion One", cursive;

  --primary-color: #6839cc;
  --secondary-color: #ff781f;
  --heading-color: #25283d;
  --title-color:#103741;
  --body-color: #575757;
  --smoke-bg-color: #f6e8ff;
  --smoke-bg-color-2: #ecf1f5;
  --border-color: #d7dce0;
  --white-color: #ffffff;
  --black-color: #000000;
  --other-color-1: #a60c56;
  --other-color-2: #4e820e;
  --other-color-3: #c8a803;
  --other-color-4: #e25e52;
  --other-color-5: #04b9c4;
  --other-color-6: #792CB9;
  --rating-color: #ffc107;
}
