@use "../abstracts" as *;

.blog {
  position: relative;
  overflow: clip;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__header {
    margin-bottom: 20px;

    @include respond(md) {
      margin-bottom: 20px;
    }
  }

  &__grid {
    display: flex;
    gap: 30px;
    align-items: stretch;

    @include respond(xl) {
      flex-direction: column;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include respond(xl) {
      grid-template-columns: 1fr;
    }
  }

  &__sub-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

    @include respond(xl) {
      width: 100%;
      gap: 30px;
    }
  }

  &--homepage {
    @include respond(md) {
      .blog-card--sm {
        .blog-card__img-wrap {
          width: auto;
          max-width: none;
          height: 250px;
          max-height: 250px;
          flex-shrink: 0;
        }
      }
    }
  }
}

.blog-card {
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  &--lg {
    width: 50%;

    @include respond(xl) {
      width: 100%;
    }

    .blog-card__img-wrap {
      height: 100%;

      &:hover {
        .blog-card__img {
          transform: scale(1.02) translateY(-10px);
        }
      }

      @include respond(md) {
        max-height: 250px;
        height: 250px;
      }
    }

    .blog-card__title {
      line-height: 40px;

      @include respond(md) {
        line-height: 30px;
      }
    }

    .blog-card__date {
      top: 0;
      left: 0;
    }
  }

  &--sm {
    flex-direction: row;
    flex: 1;

    @include respond(md) {
      flex-direction: column;
    }

    .blog-card__img-wrap {
      width: 100%;
      max-width: 250px;
      flex-shrink: 0;

      &:hover {
        .blog-card__img {
          transform: scale(1.04) translateY(-5px);
        }
      }

      @include respond(xl) {
        width: 28%;
      }

      @include respond(lg) {
        width: 35%;
      }

      @include respond(md) {
        width: auto;
        max-width: none;
        height: 250px;
        max-height: 250px;
        flex-shrink: 0;
      }
    }

    .blog-card__content {
      padding: 30px 30px 30px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @include respond(md) {
        padding: 0 15px 30px 15px;
      }
    }

    .blog-card__title {
      line-height: 40px;

      @include respond(md) {
        line-height: 30px;
      }
    }

    .blog-card__date {
      top: 0;
      left: 0;
    }
  }

  &__img-wrap {
    position: relative;
    overflow: hidden;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    @include respond(md) {
      margin: 15px 15px 25px 15px;
    }
  }

  &__img-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.4s ease;
  }

  &__date {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
    max-width: 60px;
    max-height: 70px;


    &-day {
      background-color: var(--primary-color);
      width: 100%;
      text-align: center;
      padding: 10px 20px;
      font-family: var(--heading-font-family);
      font-size: 24px;
      font-weight: 400;

      @include respond(xxl) {
        font-size: 18px;
        padding: 6px 8px;
      }

      @include respond(xl) {
        font-size: 16px;
        padding: 4px 8px;
      }
    }

    &-month {
      background-color: var(--secondary-color);
      text-align: center;
      padding: 10px 20px;
      font-weight: 700;

      @include respond(xxl) {
        font-size: 14px;
        padding: 6px 8px;
      }

      @include respond(xl) {
        font-size: 12px;
        font-weight: 600;
        padding: 4px 8px;
      }
    }
  }

  &__content {
    padding: 10px 40px 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;

    @include respond(md) {
      padding: 0 20px 30px 20px;
    }
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;

    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--body-color);
      font-weight: 600;

      @include respond(xxl) {
        font-size: 14px;
      }

      @include respond(md) {
        font-size: 13px;
      }
    }

    &-icon {
      color: var(--primary-color);
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 30px;
    color: var(--heading-color);
    transition: all 0.3s ease;

    @include respond(lg) {
      font-size: 28px;
      margin-bottom: 10px;
    }

    @include respond(md) {
      font-size: 26px;
    }

    &-link {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__desc {
    margin-bottom: 20px;
    line-height: 1.6;

    @include respond(xxl) {
      margin-bottom: 20px;
    }
  }

  .pagination {
    margin-top: 80px;

    @include respond(md) {
      margin-top: 50px;
    }
  }
}



.blog--no-padding {
  .blog-card {
    background-color: var(--smoke-bg-color);

    &:hover {
      background-color: var(--white-color);
    }
  }
}