@use "../abstracts" as *;


.boarding-hero {
  position: relative;
  z-index: 1;
  padding-top: 200px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;

  @include respond(xxxxl) {
    padding-top: 175px;
  }

  @include respond(xxxl) {
    padding-top: 190px;
  }

  @include respond(xl) {
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  @include respond(lg) {
    padding-top: 200px;
  }

  @include respond(md) {
    padding-top: 170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }


  .container {
    max-width: 1580px;

    @include respond(xxxxl) {
      max-width: 1450px;
    }

    @include respond(xxxl) {
      max-width: 1400px;
    }

    @include respond(xxl) {
      max-width: 1240px;
    }

    @include respond(xl) {
      max-width: 1050px;
    }

    @include respond(lg) {
      max-width: 960px;
    }

    @include respond(md) {
      max-width: 720px;
    }

    @include respond(sm) {
      max-width: 540px;
    }
  }

  &__bgs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__bg-1 {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100% - 90px);
    object-fit: cover;
    z-index: 1;
    will-change: clip-path;
  }

  &__bg-2 {
    position: absolute;
    top: 27px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 70px);
    object-fit: none;
    border-radius: 40px;
    z-index: 2;
    will-change: transform, opacity;

    @include respond(xl) {
      left: 20px;
      right: 20px;
      top: 20px;
      width: calc(100% - 40px);
      height: calc(100% - 45px);
    }

    @include respond(md) {
      left: 15px;
      right: 15px;
      bottom: 15px;
      width: calc(100% - 30px);
      height: calc(100% - 35px);
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @include respond(xxxxl) {
      height: 703px;
    }

    @include respond(xxxl) {
      height: 630px;
    }

    @include respond(xxl) {
      height: 520px;
    }

    @include respond(xl) {
      height: 520px;
    }

    @include respond(lg) {
      height: 100%;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__content {
    width: 50%;
    align-self: center;

    @include respond(xxxl) {
      margin-top: -85px;
    }

    @include respond(xxl) {
      margin-top: -115px;
    }

    @include respond(xl) {
      margin-top: -50px;
    }

    @include respond(lg) {
      width: 100%;
      text-align: center;
      align-self: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include respond(md) {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 20px;
    line-height: 84px;

    @include respond(xxxxl) {
      font-size: 75px;
    }

    @include respond(xxl) {
      font-size: 64px;
      line-height: 70px;
    }

    @include respond(xl) {
      font-size: 56px;
      line-height: 60px;
    }

    @include respond(lg) {
      margin-bottom: 15px;
    }

    @include respond(md) {
      max-width: 450px;
      font-size: 44px;
      line-height: 50px;
    }

    &-highlight {
      color: var(--secondary-color);
    }
  }

  &__desc {
    font-size: 18px;
    color: var(--body-color);
    margin-bottom: 30px;
    max-width: 650px;

    @include respond(xxl) {
      font-size: 16px;
    }

    @include respond(md) {
      font-size: 16px;
    }

    @include respond(sm) {
      font-size: 15px;
    }
  }


  &__images {
    width: 52%;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: flex-end;

    @include respond(xxxxl) {
      width: 43%;
      right: 4%;
    }

    @include respond(xl) {
      width: 50%;
      right: -3%;
    }

    @include respond(lg) {
      width: 50%;
      align-self: center;
      bottom: 5px;
    }

    @include respond(md) {
      display: none;
    }
  }

  &__girl {
    position: relative;
    z-index: 3;
    max-width: 100%;
    left: 8%;
    height: auto;
    display: block;
    margin: 0 auto;
    will-change: transform, opacity;
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    z-index: 1;
    will-change: transform, opacity;

    @include respond(xxxxl) {
      max-width: 90%;
      top: 45%;
    }

    @include respond(xxxl) {
      top: 43%;
    }

    @include respond(xl) {
      top: 46%;
    }

    @include respond(lg) {
      width: 100%;
      left: 50%;
    }
  }

  &__floating {
    position: absolute;
    z-index: 4;
    will-change: transform, opacity;

    &--cat {
      left: 0%;
      top: 47%;
      transform: translateY(-50%);

      @include respond(xxxxl) {
        max-width: 90%;
        top: 42%;
      }

      @include respond(xxxl) {
        top: 38%;
      }

      @include respond(xxl) {
        top: 35%;
      }

      @include respond(xl) {
        top: 42%;
        width: 90px;
      }

      @include respond(lg) {
        left: -5%;
        width: 80px;
        top: 40%;
      }

      @include respond(md) {
        width: 60px;
      }

      @include respond(sm) {
        width: 45px;
        left: 5%;
      }
    }

    &--dog {
      right: 9%;
      top: 2%;

      @include respond(xxxxl) {
        max-width: 90%;
        top: -2%;
      }

      @include respond(xxxl) {
        top: -3%;
      }

      @include respond(xl) {
        top: 0%;
        width: 60px;
      }

      @include respond(lg) {
        right: 10%;
        width: 60px;
        top: -1%;
      }

      @include respond(md) {
        width: 50px;
      }

      @include respond(sm) {
        width: 38px;
        right: 5%;
      }
    }
  }

  &__pet-img {
    width: 100%;
    height: auto;
    display: block;
  }
}