@use "../abstracts" as *;

.grooming-pricing-card {
  background: var(--white-color);
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &--purple {
    --theme-color: var(--primary-color);
  }

  &--orange {
    --theme-color: var(--secondary-color);
  }

  &__head {
    background-color: var(--smoke-bg-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid color-mix(in srgb, var(--body-color), transparent 90%);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: var(--theme-color);
    border-radius: 50%;
    flex-shrink: 0;

    @include respond(md) {
      width: 50px;
      height: 50px;
    }

    &-img {
      width: 30px;
    }
  }

  &__title {
    color: var(--theme-color);
    font-size: 30px;

    @include respond(md) {
      font-size: 24px;
    }
  }

  &__price-wrap {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-top: 40px;
    margin-bottom: 20px;

    @include respond(md) {
      margin-top: 35px;
    }
  }

  &__price {
    font-size: 64px;
    font-weight: 400;
    font-family: var(--heading-font-family);
    color: var(--theme-color);

    @include respond(md) {
      font-size: 50px;
    }
  }


  &__list {
    margin-bottom: 30px;

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px 0 20px 10px;
      border-top: 1px solid color-mix(in srgb, var(--body-color), transparent 85%);

      &:first-child {
        border-top: none;
      }

      &-icon {
        color: var(--theme-color);
        font-size: 16px;
      }

      &--inactive {
        color: color-mix(in srgb, var(--body-color), transparent 60%);

        .grooming-pricing-card__list-item-icon {
          color: color-mix(in srgb, var(--border-color), transparent 0%);
        }
      }
    }
  }

  &__btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 18px 30px;
    border-radius: 5px;
    background: var(--theme-color);
    color: var(--white-color);
    font-family: var(--heading-font-family);

    &:hover {
      background: var(--heading-color);
      color: var(--white-color);
    }
  }
}