@use "../abstracts" as *;

.grooming-pricing {
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
    flex-wrap: wrap;
    gap: 30px;

    @include respond(xl) {
      margin-bottom: 50px;
    }

    @include respond(lg) {
      margin-bottom: 40px;
    }

    @include respond(md) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__toggle {
    display: inline-flex;
    background: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 100px;

    &-btn {
      padding: 20px 30px;
      font-weight: 700;
      color: var(--primary-color);
      cursor: pointer;
      display: inline-block;
      border-radius: 100px;
      transition: all 0.3s ease;

      @include respond(xl) {
        padding: 15px 25px;
        font-size: 15px;
      }

      @include respond(md) {
        padding: 12px 20px;
        font-size: 14px;
      }

      @include respond(sm) {
        padding: 10px 16px;
        font-size: 13px;
      }

      &--active {
        background: var(--primary-color);
        color: var(--white-color);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include respond(xl) {
      gap: 20px;
    }

    @include respond(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(md) {
      grid-template-columns: 1fr;
    }
  }
}
