@use "../abstracts" as *;

.hero {
  position: relative;
  padding: 200px 0 90px;
  background-color: var(--white-color);
  overflow: hidden;
  z-index: 1;

  @include respond(xl) {
    padding: 90px 0 70px;
  }
  @include respond(lg) {
    padding: 70px 0 70px;
  }

  @include respond(md) {
    padding: 50px 0 60px;
  }

  @include respond(sm) {
    padding: 40px 0 60px;
  }

  &__shape {
    position: absolute;
    z-index: 1;
    pointer-events: none;

    &--bone {
      top: 30%;
      left: 5%;
      width: 40px;

      @include respond(md) {
        width: 40px;
        top: 6%;
      }
    }

    &--paw {
      top: 20%;
      right: 30%;
      width: 30px;

      @include respond(md) {
        display: none;
      }
    }

    &--bowl {
      bottom: 10%;
      left: 30%;
      width: 20px;

      @include respond(xl) {
        left: 22%;
      }
      @include respond(md) {
        display: none;
      }
    }

    &--ball {
      bottom: 32%;
      right: 4%;
      width: 50px;

      @include respond(md) {
        width: 40px;
        top: 70%;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__content {
    max-width: 780px;
    margin: 0 auto;

    @include respond(xxl) {
      max-width: 570px;
    }
    @include respond(xxxl) {
      max-width: 660px;
    }
    @include respond(xxl) {
      max-width: 650px;
    }
    @include respond(xl) {
      max-width: 500px;
    }
  }

  &__paws-rating {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    @include respond(md) {
      margin-bottom: 20px;
    }
  }

  &__avatars {
    display: flex;
    align-items: center;
  }

  &__avatar-img {
    max-width: 50px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    object-fit: cover;
    margin-left: -20px;

    &:first-child {
      margin-left: 0;
    }

    @include respond(md) {
      max-width: 28px;
      margin-left: -10px;
      border: 2px solid var(--primary-color);
    }
  }

  &__rating-text {
    margin-bottom: 0;
    color: var(--body-color);

    @include respond(md) {
      font-size: 12px;
    }
  }

  &__title.section-header__title {
    font-size: 96px;
    line-height: 1;
    margin-bottom: 30px;

    @include respond(xxxl) {
      font-size: 72px;
    }
    @include respond(xl) {
      font-size: 64px;
    }

    @include respond(lg) {
      font-size: 64px;
    }

    @include respond(md) {
      margin-bottom: 20px;
      font-size: 56px;
    }

    @include respond(sm) {
      font-size: 48px;
    }

    span {
      color: var(--secondary-color);
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 1.6;
    max-width: 650px;
    margin: 0 auto 35px;

    @include respond(md) {
      font-size: 17px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__image-cat,
  &__image-dog {
    position: absolute;
    bottom: 0;
    z-index: 2;
    max-width: 35%;

    @include respond(lg) {
      display: none;
    }
  }

  &__image-cat {
    max-width: 528px;
    left: 0;

    @include respond(xxxxl) {
      max-width: 470px;
    }

    @include respond(xxxl) {
      max-width: 470px;
    }
    @include respond(xxl) {
      max-width: 425px;
    }
    @include respond(xl) {
      max-width: 300px;
    }
  }

  &__image-dog {
    max-width: 521px;
    right: 0;
    @include respond(xxxxl) {
      max-width: 470px;
    }
    @include respond(xxxl) {
      max-width: 470px;
    }
    @include respond(xxl) {
      max-width: 410px;
    }
    @include respond(xl) {
      max-width: 290px;
    }
  }


}