@use "../abstracts" as *;

.pet-grooming-service {
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 30px;

    @include respond(md) {
      margin-bottom: 30px;
    }
  }

  &__heading {
    max-width: 640px;

    @include respond(md) {
      max-width: 100%;
    }
  }

  &__btn-wrap {
    margin-bottom: 15px;
  }

  &__slider {
    width: 100%;
    overflow: hidden;

    .swiper-slide {
      height: auto;
      display: flex;
      justify-content: center;

      .pet-grooming-card {
        height: 100%;
      }
    }
  }

  &__pagination {
    margin-top: 60px;

    @include respond(md) {
      margin-top: 40px;
    }
  }
}

.pet-grooming-card {
  position: relative;
  width: 100%;
  padding: 50px 30px 45px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 1;

  @include respond(xxl) {
    padding: 35px 25px 35px 35px;
  }

  @include respond(xl) {
    padding: 30px 30px 20px 40px;
  }

  @include respond(lg) {
    padding: 35px 25px 25px 35px;
  }



  &__bg-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    pointer-events: none;
  }

  &__bg-path {
    fill: currentColor;
  }

  &__img-wrap {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    left: 15px;

    @include respond(xxl) {
      margin-bottom: 15px;
      left: 12px;
    }

    @include respond(xl) {
      margin-bottom: 14px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.5s ease;

    @include respond(xl) {
      width: 85%;
    }
  }

  &__title-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }

  &__title {
    color: var(--white-color);
    font-size: 30px;
    margin-bottom: 5px;
    transition: color 0.3s ease, transform 0.3s ease;

    @include respond(xxl) {
      font-size: 24px;
      margin-bottom: 10px;
    }

    @include respond(xl) {
      font-size: 20px;
      margin-bottom: 8px;
    }

    @include respond(lg) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__desc {
    color: var(--white-color);
    margin-bottom: 25px;
    font-weight: 500;

    @include respond(xxl) {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 15px;

    }

    @include respond(xl) {
      font-size: 13px;
      line-height: 1.7;
      max-width: 180px;
      margin-bottom: 14px;
    }

    @include respond(lg) {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 15px;
    }
  }

  .service-btn {
    margin-top: auto;
    transition: all 0.3s ease;
  }

  &:hover {
    .pet-grooming-card__img {
      transform: scale(0.95);
    }

    .pet-grooming-card__title {
      transform: scale(0.95);
    }
  }

  &--orange {
    color: var(--secondary-color);

    .service-btn__icon {
      color: var(--secondary-color);
    }
  }

  &--purple {
    color: var(--primary-color);

    .service-btn__icon {
      color: var(--primary-color);
    }
  }

  &--pink {
    color: var(--other-color-1);

    .service-btn__icon {
      color: var(--other-color-1);
    }
  }

  &--green {
    color: var(--other-color-2);

    .service-btn__icon {
      color: var(--other-color-2);
    }
  }
}